* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-menu {
  padding: 20px;
  display: flex;
  align-items: center;
  overflow: hidden; 
  background-color: #2b7a78;
}

.nav-menu h1{
  font-family: 'Times New Roman', Times, serif;

}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 27px;
  padding: 5px;
  color: white;
}

.nav-menu a {
  float: right;
  text-align: center;
  display: block;
  color: cornsilk;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-menu a:hover {
  background-color: #fefffe;
  color: #17252a;
}

.active{
  padding: 5px;
  border: 3px solid white;
}
